.login-header {
    text-align: center;
    margin: 20px 0px 20px;
}

label.form-label.lb-email,
label.form-label.lb-password {
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 10px;
}

input#User_Name,
input#User_ConfirmPassword,
input#User_Email,
input#User_Password {
    width: 100%;
    font-size: 15px;
    padding: 5px 10px;
    margin-bottom: 20px;
}

.login-content.col-xxl-6.col-xl-6.col-lg-6 {
    margin: 0 auto;
    padding: 30px;
    background-color: #EEEEEE;
}

.login-header > img {
    width: 200px;
    color: black;
}

input.btn.btn-outline-dark.btn-login {
    font-size: 17px;
    margin: 30px auto 30px;
    font-weight: 700;
    display: block;
    padding: 5px 20px;
}

.not-account {
    font-size: 13px;
    color: black;
}

a.not-account-register {
    text-decoration: none;
    color: black;
    font-weight: 700;
}

.login-title {
    font-size: 16px;
    color: #47af62;
    font-weight: 700;
    margin-bottom: 10px;
}
